# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Assignments/Session_04/sample_data.csv
Lectures/PhamHa_Lecture/numpy_exercises/phamha_numpy_homework_1.html
Lectures/PhamHa_Lecture/numpy_exercises/phamha_numpy_homework_1.ipynb
Lectures/PhamHa_Lecture/numpy_exercises/phamha_numpy_homework_1_solution.html
Lectures/PhamHa_Lecture/numpy_exercises/phamha_numpy_homework_1_solution.ipynb
Lectures/PhamHa_Lecture/numpy_exercises/phamha_numpy_homework_2.html
Lectures/PhamHa_Lecture/numpy_exercises/phamha_numpy_homework_2.ipynb
Lectures/PhamHa_Lecture/numpy_exercises/phamha_numpy_homework_2_solution.html
Lectures/PhamHa_Lecture/numpy_exercises/phamha_numpy_homework_2_solution.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/Chipotle/Exercise_with_Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/Chipotle/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/Chipotle/quynhnt_Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/Chipotle/Solutions-Copy1.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/Chipotle/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/Occupation/Exercise_with_Solution.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/Occupation/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/Occupation/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/World Food Facts/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/World Food Facts/Exercises_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/01_Getting_&_Knowing_Your_Data/World Food Facts/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/02_Filtering_&_Sorting/Chipotle/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/02_Filtering_&_Sorting/Chipotle/Exercises_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/02_Filtering_&_Sorting/Chipotle/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/02_Filtering_&_Sorting/Euro12/Euro_2012_stats_TEAM.csv
Lectures/PhamHa_Lecture/pandas_exercises/02_Filtering_&_Sorting/Euro12/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/02_Filtering_&_Sorting/Euro12/Exercises_with_Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/02_Filtering_&_Sorting/Euro12/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/02_Filtering_&_Sorting/Fictional Army/Exercise.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/02_Filtering_&_Sorting/Fictional Army/Exercise_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/02_Filtering_&_Sorting/Fictional Army/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/03_Grouping/Alcohol_Consumption/Exercise.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/03_Grouping/Alcohol_Consumption/Exercise_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/03_Grouping/Alcohol_Consumption/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/03_Grouping/Occupation/Exercise.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/03_Grouping/Occupation/Exercises_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/03_Grouping/Occupation/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/03_Grouping/Regiment/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/03_Grouping/Regiment/Exercises_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/03_Grouping/Regiment/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/04_Apply/Students_Alcohol_Consumption/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/04_Apply/Students_Alcohol_Consumption/Exercises_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/04_Apply/Students_Alcohol_Consumption/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/04_Apply/Students_Alcohol_Consumption/student-mat.csv
Lectures/PhamHa_Lecture/pandas_exercises/04_Apply/US_Crime_Rates/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/04_Apply/US_Crime_Rates/Exercises_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/04_Apply/US_Crime_Rates/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Auto_MPG/cars1.csv
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Auto_MPG/cars2.csv
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Auto_MPG/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Auto_MPG/Exercises_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Auto_MPG/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Fictitous Names/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Fictitous Names/Exercises_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Fictitous Names/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Housing Market/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Housing Market/Exercises_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/05_Merge/Housing Market/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/06_Stats/US_Baby_Names/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/06_Stats/US_Baby_Names/Exercises_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/06_Stats/US_Baby_Names/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/06_Stats/US_Baby_Names/US_Baby_Names_right.csv
Lectures/PhamHa_Lecture/pandas_exercises/06_Stats/Wind_Stats/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/06_Stats/Wind_Stats/Exercises_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/06_Stats/Wind_Stats/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/06_Stats/Wind_Stats/wind.data
Lectures/PhamHa_Lecture/pandas_exercises/06_Stats/Wind_Stats/wind.desc
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Chipotle/Exercise_with_Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Chipotle/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Chipotle/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Online_Retail/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Online_Retail/Exercises_with_solutions_code.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Online_Retail/Online_Retail.csv
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Online_Retail/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Scores/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Scores/Exercises_with_solutions_code.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Scores/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Tips/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Tips/Exercises_with_code_and_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Tips/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Tips/tips.csv
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Titanic_Desaster/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Titanic_Desaster/Exercises_code_with_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Titanic_Desaster/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/07_Visualization/Titanic_Desaster/train.csv
Lectures/PhamHa_Lecture/pandas_exercises/08_Creating_Series_and_DataFrames/Pokemon/Exercises-with-solutions-and-code.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/08_Creating_Series_and_DataFrames/Pokemon/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/08_Creating_Series_and_DataFrames/Pokemon/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/09_Time_Series/Apple_Stock/appl_1980_2014.csv
Lectures/PhamHa_Lecture/pandas_exercises/09_Time_Series/Apple_Stock/Exercises-with-solutions-code.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/09_Time_Series/Apple_Stock/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/09_Time_Series/Apple_Stock/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/09_Time_Series/Getting_Financial_Data/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/09_Time_Series/Getting_Financial_Data/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/09_Time_Series/Investor_Flow_of_Funds_US/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/09_Time_Series/Investor_Flow_of_Funds_US/Exercises_with_code_and_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/09_Time_Series/Investor_Flow_of_Funds_US/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/10_Deleting/Iris/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/10_Deleting/Iris/Exercises_with_solutions_and_code.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/10_Deleting/Iris/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/10_Deleting/Wine/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/10_Deleting/Wine/Exercises_code_and_solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/10_Deleting/Wine/Solutions.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/11_Indexing/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/Template/Exercises.ipynb
Lectures/PhamHa_Lecture/pandas_exercises/Template/Solutions.ipynb
Lectures/PhamHa_Lecture/phamha_numpy_homework_1.html
Lectures/PhamHa_Lecture/phamha_numpy_homework_1.ipynb
Lectures/PhamHa_Lecture/phamha_numpy_homework_1_solution.html
Lectures/PhamHa_Lecture/phamha_numpy_homework_1_solution.ipynb
Lectures/PhamHa_Lecture/phamha_numpy_homework_2.html
Lectures/PhamHa_Lecture/phamha_numpy_homework_2.ipynb
Lectures/PhamHa_Lecture/phamha_numpy_homework_2_solution.html
Lectures/PhamHa_Lecture/phamha_numpy_homework_2_solution.ipynb
